html { 
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	background: #eeeeee;
	padding-bottom: 5em;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1em;
	text-align: center;
	font-size: 10pt;
}

.page { 
	background: #ffffff;
	max-width: 500px;
	margin: auto;
	margin-top: 5em;
	border-width: 2px;
	border-style: solid;
	border-color: #18208e;
	border-radius: 25px;
}

.content {
	margin: 3em;
}

a, h1, h2 {
	color: #18208e;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

p {
	font-size: 1em;
}

