<!doctype html>
<title>IPv6 Test</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class="page">
<div class="content">
<h1>IPv6 Test</h1>
{% if ipv6_address %}
<p>Your IPv6 address is: {{ipv6_address}}</p>
{% endif %}
</div>
</div>
<footer>
<p class="footer">
This page is run by Amelia Lindsjö - <a href="mailto:amelia@linuxchick.se">amelia@linuxchick.se</a>
</p>
</footer>
